<header id="header">
	<a href="{{ "/" }}">
		  <h1>Jonathan Jacobi's Blog</h1>
	</a>
	<br>
	<a href={{"https://twitter.com/j0nathanj"}}>
		<img src="/{{ site.baseurl }}img/twitter.png" style="margin:0px 5px">
	</a>
	<a href={{"https://github.com/j0nathanj"}}>
		<img src="/{{ site.baseurl }}img/github.png" style="margin:0px 5px">
	</a>
    <a href={{"https://www.linkedin.com/in/jonathanj-jacobi"}}>
		<img src="/{{ site.baseurl }}img/linkedin.png" style="margin:0px 5px">
	</a>
	<br>
	<h5>
		<a href="{{ site.baseurl }}/" style="margin:0px 10px">Home</a>  
		<a href="{{ site.baseurl }}/about" style="margin:0px 10px">About</a>
		<a href="{{ site.baseurl }}/post_view" style="margin:0px 10px">Posts</a>

	</h5>
  <link rel="shortcut icon" href="{{ "/img/favicon.ico" | prepend: site.baseurl | replace: '//', '/' }}" type="image/x-icon">
  <link rel="icon" href="{{ "/img/favicon.ico" | prepend: site.baseurl | replace: '//', '/' }}" type="image/x-icon">
</header>